html,
body {
	height: 100%;
	padding-top: 0;
	margin: 0;
}

/*
ヘッダー
*/
#header{
	/*position: absolute;だとheadroomjsが動かない*/
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: rgba(250,150,40,0.8);
	/*背景のみのため
	/*opacity: 0.8;*/
	z-index: 10;
}
#header_inner{
	width: 250px;
	float: left;
	padding: 0;
	margin: 0;
}
#header h1{
	padding-top: 0;
	margin-left: 30px;
	font-size: 2.3em;
	font-family: Helvetica;
	color: #fffafa;
}
/*headroom*/
.header-animated {
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both
}
.header-animated.slideUp {
	-webkit-animation-name: slideUp;
	-moz-animation-name: slideUp;
	-o-animation-name: slideUp;
	animation-name: slideUp
}
@-webkit-keyframes slideUp {
	0% {
	-webkit-transform: translateY(0)
	}
	/*スライドアップで隠す領域*/
	100% {
	-webkit-transform: translateY(-100%)
	}
}
.animated.slideDown {
	-webkit-animation-name: slideDown;
	-moz-animation-name: slideDown;
	-o-animation-name: slideDown;
	animation-name: slideDown
}
@-webkit-keyframes slideDown {
	/*スライドダウンで隠す領域*/
	0% {
	-webkit-transform: translateY(-100%)
	}

	100% {
	-webkit-transform: translateY(0)
	}
}

/*
メイン画像
*/
#top-table .top-background{
	position: relative;
	width: 1000px;
	height: 450px;
	margin: 0 auto;
}
.top-background .top-image .top-text{
	position: absolute;
	display:block;
}
.top-image{
	margin: 0 100px 0 100px;
}
.top-text{
	position: absolute;
	margin: 0;
	top: 160px;
	left: 100px;
	font-size: 3em;
	color: #fffafa;
	font-family: Helvetica;
	/*中央寄せ*/
	text-align: center;
}

/*
ソーシャルログイン
*/
.twitter_login{
	padding-top: 10px;
	margin-top: 50px;
	width: 700px;
	height: 60px;
	font-size: 2em;
	background-color: rgba(0,172,237,1);
	color: #fffafa;
/*ソーシャルログインの画像を角丸にする*/
	border-radius: 15px;
}
.fb_login{
	padding-top: 10px;
	margin-top: 20px;
	width: 700px;
	height: 60px;
	font-size: 2em;
	background-color: rgba(30,50,97,1);
	color: #fffafa;
/*ソーシャルログインの画像を角丸にする*/
	border-radius: 15px;
}

.main-text{
	font-size:2.5em;
	color: #808080;
}

.inline_block{
	width: 300px;
	height: 300px;
	background: #ccc;
	display: block;
	text-align: center;
}
.inline_block > *{
	vertical-align: middle;
	display: inline-block;
	zoom: 1;  Fix for IE7
	display: inline;  Fix for IE7*/
}
.inline_block span {
	height: 100%;
	width: 0px;
	display: inline-block;
	zoom: 1;  /*Fix for IE7*/
	display: inline;  /*Fix for IE7 */
}
